# Ignore generated datasets and masks
data_generation/synthetic_dataset/images/*
data_generation/synthetic_dataset/labels/*
data_generation/synthetic_dataset/masks/*
*.zip

# Ignore solved output renders
cv_pipeline/pipeline_classical_heuristic/test_runs/

# Keep the empty folders in the repo
!data_generation/synthetic_dataset/images/.gitkeep
!data_generation/synthetic_dataset/labels/.gitkeep
!data_generation/synthetic_dataset/masks/.gitkeep
!cv_pipeline/outputs/.gitkeep

# Others
.vscode
*.blend1
.mypy_cache
__pycache__
